.dark {
  color: #dadada;
  background: #1c2022;
  min-height: 100%;
}

.light {
  color: #1c2022;
  background: #dadada;
  min-height: 100%;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
} */
