* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

/* font-family: "Merriweather", serif;
font-family: "Roboto Mono", monospace;
font-family: "Open Sans", sans-serif; 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  font-size: 10px;
}

.dark {
  color: #dadada;
  background: #1c2022;
  min-height: 100%;
}

.light {
  color: #1c2022;
  background: whitesmoke;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  font-family: "Merriweather", serif;
  font-size: 7rem;
  text-align: center;
  color: inherit;
  padding-bottom: 30px;
}

.subheader {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  margin-bottom: 20px;
  color: inherit;
}

.image {
  width: 90rem;
}

.hubble-container {
  width: 90rem;
  margin: 0 auto;
  background: inherit;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: inherit;
  padding-bottom: 10px;
}

.telescope {
  height: 14rem;
  padding-left: 50px;
}

.credit-links {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.credit-container {
  padding-bottom: 100px;
  background: inherit;
}

.credits {
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
  color: inherit;
}

.next-icon {
  color: inherit;
  position: absolute;
  right: 0;
  font-size: 6rem;
}

/* End Hubble CSS------------------------------------ */
/* End Hubble CSS------------------------------------ */
/* End Hubble CSS------------------------------------ */
/* End Hubble CSS------------------------------------ */
/* End Hubble CSS------------------------------------ */

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav li {
  margin-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.btn-clear {
  border: none;
  background: transparent;
}

/* End Nav CSS------------------------------------ */
/* End Nav CSS------------------------------------ */
/* End Nav CSS------------------------------------ */
/* End Nav CSS------------------------------------ */
/* End Nav CSS------------------------------------ */

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear {
  border: none;
  background: transparent;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav li {
  margin-right: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.header-lg {
  font-size: 35px;
  font-weight: 300;
  margin: 20px;
}

.header-sm {
  font-size: 28px;
  font-weight: 300;
  margin: 10px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin: 0 auto;
  display: block;
}

.center-text {
  text-align: center;
}

.link {
  color: rgb(187, 46, 31);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.bg-light {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.card {
  margin: 10px 0;
  width: 250px;
  padding: 20px;
  margin-top: 100px;
  height: 300px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Card CSS --------------------- */
/* Card CSS --------------------- */
/* Card CSS --------------------- */

.about-text {
  font-size: 14px;
}

.bg-dark {
  background: rgb(36, 40, 42);
  border-radius: 3px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  :root {
    font-size: 8px;
  }

  .container {
    max-width: 960px;
  }

  .description {
    font-size: 12px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 7px;
  }

  .container {
    max-width: 820px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  :root {
    font-size: 6px;
  }

  .container {
    max-width: 550px;
  }
}

@media all and (max-width: 480px) {
  :root {
    font-size: 5px;
  }

  .container {
    max-width: 400px;
  }
}
